body {
  background-color: #393e47;
  color: #877b5e;
}

/* Section for index.html's IMG/Title */
.intro {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  border-bottom: 1px solid white;
}

.intro h1 {
  color: white;
  position: absolute;
}

.intro h2 {
  color: white;
  position: absolute;
  transform: translate(0, 150%);
}

.resize-img {
  width: inherit;
  max-width: 1000px;
  height: inherit;
}

/* Styling for About Me, Backgorund, and Hobbies*/
.container {
  margin-bottom: 20px;
  justify-content: center;
}

.row1 {
  justify-content: center;
}

.about-me {
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
}

.background-info {
  padding: 10px;
  margin: 5px;
  border: 1px solid white;
}

.hobbies {
  width: 250px;
  border: 1px solid white;
  text-align: center;
  margin: 0 auto;
}

/* Section for projects.html */

.gh-link {
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 75px auto;
}

.gh-link p {
  text-align: center;
  margin: 5px;
}

.btn-primary {
  background-color: black;
}

.project-container {
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.project-container img{
  width: 350px;
  height: 300px;
}

.proj1, .proj2, .proj3 {
  width: 33%;
  margin: 0;
}


/* Media Queries */
@media screen and (max-width: 480px) {

  .intro h1, .intro h2 {
    font-size: 1.2em;
  }

  .container {
    flex-wrap: wrap;
  }

  .about-me, .background-info {
    min-width: 80%;
  }
}

@media screen and (min-width: 480px) and (max-width: 700px){

  .intro h1, .intro h2 {
    font-size: 1.4em;
  }
}
